<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReportePrestamos.Properties.Settings.GaleriaConnectionString"
            connectionString="Data Source=DESKTOP-GMG7OB0\SQLEXPRESS;Initial Catalog=Galeria;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="ReportePrestamos.Properties.Settings.PrestamoDBConnectionString"
            connectionString="Data Source=DESKTOP-GMG7OB0\SQLEXPRESS;Initial Catalog=PrestamoDB;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>